@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,900;1,700&family=DM+Sans:wght@300;400;500;600&display=swap');
@import 'leaflet/dist/leaflet.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f4efe6;
  font-family: 'DM Sans', sans-serif;
  color: #1a1a1a;
}

/* Fix Leaflet marker icons with Vite */
.leaflet-default-icon-path {
  background-image: url(leaflet/dist/images/marker-icon.png);
}
